<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prooject</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/Login-Box-En.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color:rgb(245,238,238);">
    <nav class="navbar navbar-light navbar-expand-md" style="background-color:rgb(78,77,77);">
        <div class="container-fluid"><a class="navbar-brand" href="index.html"><img class="rounded-circle d-inline visible" src="assets/img/marry-wedding-logo-5a2e697b901089.7651329815129910995901.jpg" id="logo" style="background-color:#1f1919;background-position:top;">&nbsp; &nbsp; &nbsp;LAGANGATHO</a><button class="navbar-toggler"
                data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="login.html" style="color:rgba(38,25,25,0.7);"><strong>LOGIN</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="register.html" style="color:rgba(6,6,6,0.5);"><strong>REGISTER</strong></a></li>
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle d-block" data-toggle="dropdown" aria-expanded="false" href="#"><strong>More</strong></a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">about us</a><a class="dropdown-item" role="presentation" href="enquiries.html">enquries</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="ABOUT1">
        <div class="jumbotron" id="head" style="font-size:16px;background-color:rgba(233,236,239,0.38);color:#212529;">
            <h1>About us</h1>
            <p style="color:#02080e;"><br>Quick word of advice: If you do choose to go down the avenue of one group photo, do be sure to take into account that naturally people may come and go from your team over time, which will require your photo to be updated more often. But
                if this is not a problem, then go ahead!<br><br></p><i class="icon ion-android-happy" style="width:100px;height:200px;"></i><i class="icon ion-android-happy" style="width:100px;height:200px;"></i><i class="icon ion-android-happy" style="width:100px;height:200px;"></i></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>